.LightList{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.DarkList {
    border-radius: 6px;
    background-color:rgb(12,101,209);
}

.LightTitle {
    color: rgb(0, 68, 196);
}

.DarkTitle {
    color: rgb(255, 255, 255);
}

.LightList {
    color: rgb(37, 37, 37);
}

.DarkList {
    color: rgba(255, 255, 255, 0.877);
}

.Bullet-Box {
    border-radius: 6px;
}

.Bullet-Box ul {
    padding-left: 18px;
}

.Align-Benifit-Button {
    display: flex;
    justify-content: center;
}

.Benifit-Button {
    width: 160px;
}

.Bullet-Box p {
    margin-top: -7px;
    font-weight: 400;
    color: rgb(134, 134, 134);
    margin-bottom: 3px;
}